body {
    /* background-image: url(./images/matrix2.jpg); */
    /* color: white; */
    text-align: center;    
}
#back {
    background-color: rgb(30, 109, 146);
    /* margin-left: 150px;
    margin-right: 150px; */
    font-size: 30px;
}

h1 {
    /* color: white; */
   font-size: 60px; 
}

.last-seconds{
    color: red;
}

.option{
    margin: 15px;
}